
#head{
    background-color: black;
    height: 50px;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffac;
}
form{
    padding: 10px;
}
p{
    
    text-align: left;
}
table{
    border: dashed gray ;
    width: auto;
}